.c-header {
    z-index: 40;
    position: absolute;
    width: 100%;

    @media (max-width: 992px) {
       display: none;
      }
}

.c-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    max-width: 1600px;
}

.c-header__links {
    display: flex;
    li {
        padding: 20px;
    }
}